# Python
__pycache__/
nul
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env

# Node.js / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
*.pdf
uploaded_media_*
.DS_Store
